.bg-page1 ul{
    list-style-type: none;
    display: inline-block;
}
.bg-page1 > ul > li{
    display: inline-block;
}
.bg-page1 ul{
    margin: 0;
    padding: 0;
}
.bg-page1 li{
    margin-top: 6px;
    margin-left: 26px;
}
.bg-page1 a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.bg-page1 a:hover{
    transition: 1s;
    color: #ecc753;
}
.bg-page1 ul{
    background-color: #164e62;
    position: relative;
    width: 108%;
    height: 42px;

}
.bg-page1 ul:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 22px solid white;
    border-left: 20px solid #164e62;
    border-bottom: 20px solid white;
    width: 0;
}

.info-product-details h1 {
    font-weight: bold;
}
.sl-comment{
    height: 27px;
}


.header{
    position: sticky;
    z-index: 4;
    top: 0px;
    background: white;
    padding-top: 53px;
}
.fixmenu-tabs{
    position: sticky;
    top: 20%;
    width: fit-content;
    margin-top: 0px;
    z-index: 1;
}
.text-home1{
    display: none;
}
.titem {
    margin-bottom: 25px;
    color: black;
}
.titem h2 {
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bolder;
    color: #000;
    margin-bottom: 11px;
    position: relative;
    text-align: right;
    padding-right: 70px;
}
.titem h2::after {
    content: '';
    position: absolute;
    top: 45%;
    right: 0;
    height: 2px;
    width: 60px;
    background: #676767;
}
.titem p {
    height: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 70px;
    background: #e5e9e9;
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 375px){
    .bg-page1 ul {
        background-color: #164e62;
        position: relative;
        width: 112%;
        height: 42px;
    }
    .text-home1{
        display: block;
    }
    .text-home{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .fixmenu-tabs h1{
        font-size: 18px;
    }
    .titem h2{
        font-size: 16px;
    }
}
@media (max-width: 1024px) {
    .titem h2{
        font-size: 24px;
    }
    .fixmenu-tabs{
        top: 14%;
    }
    .info-product-details h1 {
        font-weight: bold;
        font-size: 22px;
    }
    .titem p{
        font-size: 14px;
    }
    .facebook{
        width: 113%;
    }
}